<div class="container">

	<br />
	<br />

	Search: <input type="text" data-ng-model="note.search" />
	
	<br />
	<br />
	<br />

	<table class="table table-hover">
		<thead> 
			<tr>
				<th>Title</th>
				<th>Note</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="note in notes | filter:note.search | orderBy:'title'" >
				<td data-ng-click="showNote(note.id)" style="cursor: pointer">{{ note.title }}</td> 
				<td data-ng-click="showNote(note.id)" style="cursor: pointer">{{ note.value.substring(0,25) }}...</td>
				<td><button data-ng-click="deleteNote(note.id)" class="btn btn-danger" data-toggle="confirmation" data-popout="true"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
			</tr>
		</tbody>
	</table>
		
	</ul>

	<br />
		<button data-ng-click="newNote()">Add Note</button>
	<br />

	<a href="#/view2">View 2</a>
	<a href="#/note/asfd">View 3</a>
</div>

